# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Cryptoescudo Client
Exec=electrum-cesc %u
GenericName[en_US]=Electrum-CESC
GenericName=Electrum-CESC
Icon=electrum-cesc
Name[en_US]=Electrum Cryptoescudo Wallet
Name=Electrum Cryptoescudo Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/cryptoescudo;

